// ion-item{
//     --background: #3880ff;
//     --color: #fff;
// }
// ion-button{
//     --background: #062f77;
// }
ion-content {
    --background: #8594a3;
    --color: #ffffff;
    --keyboard-offset: 0px;
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;

}
ion-card {
    --background: #8594a3;
    --color: #000000;
}

a{
    color: #fff;
}